{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Haltes in {{ stops.0.common_city }}{% endblock %}

{% block content %}
<h2>{% trans "Haltes" %}</h2>
<h3>{{ stops.0.common_city }}</h3>
<a href="{% url 'cities' %}">< {% trans "back" %}</a>
<div class="row">
    <ul class="three-columns no-bullet col-md-12">
        {% for stop in stops %}
            {% if stop.stop_type == 2 %}
                <li><a href="{% url 'stop' stop.id %}">{{ stop.common_name }}</a></li>
            {% else %}
                <li><a href="{% url 'stop_tpc' stop.tpc %}">{{ stop.common_name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<br class="cleafix" style="width: 100%;" />
{% endblock %}
