{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ stop.common_name }} {% endblock %}
{% block page_title %} {{ stop.common_name }} {% endblock %}

{% block content %}
<div class="twelve columns centered row" style="height: 400px;">
	<div class="twelve columns">
		<h2>{{ stop.common_name }}</h2>
		<h3>{{ stop.common_city }}</h3>
		<a href="{% url city_stops stop.common_city|lower|escape %}">< {% trans "back" %}</a>
		<hr>
	</div>
	<div id="map" class="six columns"></div>
	<div class="six columns">
		<h4>{% trans "Algemene attributen" %}</h4>
		<table>
		{% for attr in stop.stopattribute_set.filter %}
			<tr>
				<td>{{ attr.key }}</td>
				<td><input type="text" value="{{ attr.value }}"></td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
<div style="clear: both; padding-bottom: 10px;">&nbsp;</div>
<div class="row">
	<h4>{% trans "Bron attributen" %}</h4>
	<table>
	{% for attr in stop.sourceattribute_set.filter %}
	    {% ifchanged attr.source %} 
	    	<tr><td colspan="2"><strong>{{ attr.source.name }}</strong></td></tr> 
	    {% endifchanged %}
		<tr>
			<td>{{ attr.key }}</td>
			<td>{{ attr.value }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
<div class="row">
	<div class="six columns">
	<h4>{% trans "Geschiedenis" %}</h4>
	<table style="width: 100%">
		<tr><th>{% trans "Datum" %}</th><th>{% trans "Opmerking" %}</th><th>{% trans "Gebruiker" %}</th></tr>
	{% for version in history %}
		<tr> 
			<td>{{ version.revision.date_created|date:"d-m-Y H:i" }}</td>
			<td>{{ version.revision.comment }}</td>
			<td>{{ version.revision.user.name }}</td>
		</tr>
	{% endfor %}
	</table>
	</div>
</div>
<script src="http://ol.openstreet.nl/OpenLayers.js"></script>
<style type="text/css"> #map { width: 47.8%; height: 300px; } </style>
<script type="text/javascript">
    function init(){            
		var map = new OpenLayers.Map('map');            
		var osm = new OpenLayers.Layer.OSM();            
		
		var layer = new OpenLayers.Layer.Vector("GML", {
	         strategies: [new OpenLayers.Strategy.Fixed()],
	         protocol: new OpenLayers.Protocol.HTTP({
	            url: window.location+"/json/",
	            format: new OpenLayers.Format.GeoJSON()
	         })
	    });
	    map.addLayers([osm, layer]);
	    map.setCenter(
            new OpenLayers.LonLat(5.112, 52.0934).transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
            ), 7
        );  
	}
	init();
</script>
{% endblock %}
