{% extends "base.html" %}
{% block title %} {{ stop.common_name }} {% endblock %}
{% block page_title %} {{ stop.common_name }} {% endblock %}

{% block content %}
<h2>{{ stop.common_city }}</h2>
<div id="map">&nbsp;</div>
<h3>General Attributes</h3>
<table>
{% for attr in stop.stopattribute_set.filter %}
	<tr>
		<td>{{ attr.key }}</td>
		<td><input type="text" value="{{ attr.value }}"></td>
	</tr>
{% endfor %}
</table>

<h3>Agency-specific</h3>
<table>
{% for attr in stop.agencyattribute_set.filter %}
    {% ifchanged attr.agency %} 
    	<tr><td colspan="2"><strong>{{ attr.agency.name }}</strong></td></tr> 
    {% endifchanged %}
	<tr>
		<td>{{ attr.key }}</td>
		<td><input type="text" name="{{ attr.pk }}" value="{{ attr.value }}"></td>
	</tr>
{% endfor %}
</table>

 	<script src="http://openlayers.org/api/OpenLayers.js"></script>
    <style type="text/css"> #map { width:400px; height: 400px; } </style>
    <script type="text/javascript">
        function init(){
            map = new OpenLayers.Map('map');
            map.addLayer(new OpenLayers.Layer.OSM());
			var placesLayer = new OpenLayers.Layer.Vector();

            var format = new OpenLayers.Format.GeoJSON()
            var point = format.read({{ stop.point.geojson|safe}});
            point = point[0]; 
            point.attributes = { 'name': "{{stop.common_name}}"}; 
			placesLayer.addFeatures(point); 
		 
		    map.addLayer(placesLayer);
		}
		init();
	</script>
{% endblock %}