{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ userstop.common_name }} {% endblock %}
{% block page_title %} {{ userstop.common_name }} {% endblock %}

{% block content %}
<div class="twelve columns centered row" style="height: 400px;">
	<div class="twelve columns">
		<h2>{{ userstop.common_name }}</h2>
		<h3>{{ userstop.common_city }}</h3>
		<a href="{% url city_stops userstop.common_city|lower|escape %}">< {% trans "back" %}</a>
		<hr>
	</div>
	<div id="map" class="six columns"></div>
	<div class="six columns">
		<h4>{% trans "Algemene attributen" %}</h4>
		<table>
			<tr>
				<td>TPC</td>
				<td><input type="text" value="{{ userstop.tpc }}"></td>
			</tr>
		{% for attr in userstop.userstopattribute_set.filter %}
			<tr>
				<td>{{ attr.key }}</td>
				<td><input type="text" value="{{ attr.value }}"></td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
<div style="clear: both; padding-bottom: 10px;">&nbsp;</div>
<div class="row">
	<h4>{% trans "Bron attributen" %}</h4>
	<table class="three columns left">
	{% for attr in userstop.sourceattribute_set.filter %}
	    {% ifchanged attr.source and %}
	    	{% if not forloop.first %}
	    		</table>
	    		<table class="three columns">
	    	{% endif %}
	    		<tr><td colspan="2"><strong>{{ attr.source.name }}</strong></td></tr>
	    {% endifchanged %}
		<tr>
			<td><strong>{{ attr.key }}</strong></td>
			<td>{{ attr.value }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
<div class="row">
	<div class="six columns">
	<h4>{% trans "Geschiedenis" %}</h4>
	<table style="width: 100%">
		<tr><th>{% trans "Datum" %}</th><th>{% trans "Opmerking" %}</th><th>{% trans "Gebruiker" %}</th></tr>
	{% for version in history %}
		<tr>
			<td>{{ version.revision.date_created|date:"d-m-Y H:i" }}</td>
			<td>{{ version.revision.comment }}</td>
			<td>{{ version.revision.user.name }}</td>
		</tr>
	{% endfor %}
	</table>
	</div>
</div>
<script src="http://ol.openstreet.nl/OpenLayers.js"></script>
<style type="text/css"> #map { width: 47.8%; height: 300px; } </style>
<script type="text/javascript">
    function init(){
		var map = new OpenLayers.Map('map', {
			controls:[new OpenLayers.Control.Navigation()]
		});
		var osm = new OpenLayers.Layer.OSM();

		var layer = new OpenLayers.Layer.Vector("GML", {
	         strategies: [new OpenLayers.Strategy.Fixed()],
	         protocol: new OpenLayers.Protocol.HTTP({
	            url: "{% url stop_json userstop.id %}",
	            format: new OpenLayers.Format.GeoJSON()
	         })
	    });
	    map.addLayers([osm, layer]);
	    map.setCenter(
            new OpenLayers.LonLat({{ userstop.point.x }}, {{ userstop.point.y }}).transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
            ), 16
        );
	}
	init();
</script>
{% endblock %}

