/* Foundation v2.1.3 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */
body{
	background-color: black;
	background: url(../img/stoep.png);
}
.whitebg{
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
}
