body{
	background-color: black;
	background: url(../img/stoep.png);
}
.whitebg{
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
}
#map {
  height: 400px;
}
ul.three-columns {
  clear: right;
}
ul.three-columns li {
  float: left;
  width: 30%;
}
ul.three-columns > li:nth-child(3n+1) {
clear: both;
}
ul.three-columns.no-bullet {
  list-style-type: none;
}
